<div class="row">
    <div class="col-lg-6">
      <div class="container" id="activity">
        <button type="button" id="pulsar" class="btn btn-primary">Pulsar</button>
      </div>
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-6" id="activityGraphic" style="width:600px;height:300px">

    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->
