<div class="row">
    <div class="col-lg-8">
      <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Actividad diaria
        </div><!-- /.panel-heading -->

        <div class="panel-body">
            <div id="activity-area-chart"></div>
        </div><!-- /.panel-body -->

      </div><!-- /.panel -->

    </div><!-- /.col-lg-6 -->

    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> datos
        </div><!-- /.panel-heading -->

        <div class="panel-body">
            <div id="activity-data">
              <p>Desde: <input type="text" id="activity-calendar-desde"></p>
              <p>Hasta: <input type="text" id="activity-calendar-hasta"></p>
              <input id="activity-url" value="<%= patient.activityDataQueue[0] %>">
              <button type="button" id="pulsar" class="btn btn-primary">Dibujar</button>
            </div>
        </div><!-- /.panel-body -->

      </div><!-- /.panel -->

    </div><!-- /.col-lg-6 -->

</div><!-- /.row -->
