<div class="row">
  <div class="col-lg-8">
    <% if (patients) { %>
      <div class="list-group">
        <% for(var i = 0; i < patients.length; i++){ %>
          <a href="/patient/<%= patients[i]._id %>" class="list-group-item">
              <span class="glyphicon glyphicon-pencil"></span> <%- patients[i].lastName %> <%- patients[i].name %> <span class="badge">Doctor: <%- patients[i].doctor.name_and_surname %></span>
          </a>
          <% } %>
      </div>
    <% } else { %>
      <div class="alert alert-info" role="alert"> No se encuentran resultados </div>
    <% } %>
  </div>
</div>
