<% if (patient) { %>
  <p><strong>Nombre:</strong> <%= patient.name %> </p>
  <p><strong>Apellidos:</strong> <%= patient.lastName %> </p>


<% } else { %>
  <div class="alert alert-info" role="alert"> Ha habido un error. Comuníquese con su administrador de la base de datos </div>
<% } %>
