<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head %>

    <link rel="stylesheet" href="/css/patient_show.css">
  </head>
  <body>
    <div id="wrapper">
      <% include ../../partials/nav %>
      <!-- Page Content -->
      <div id="page-wrapper">
              <div class="row">
                  <div class="col-lg-12">
                      <h1 class="page-header"> <%= title %> </h1>
                  </div>
                  <!-- /.col-lg-12 -->
              </div>
              <!-- /.row -->
              <% include ../../partials/patient/patientInfo %>
              <% include ../../partials/patient/quizesPanel %>
              <% include ../../partials/patient/heartRate %>
              <% include ../../partials/patient/activity %>

      </div>
      <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <% include ../../partials/scripts_footer %>

    <!-- Flotcharts -->
    <script language="javascript" type="text/javascript" src="/js/flot/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="/js/flot/jquery.flot.categories.js"></script>

    <!-- DataTables JavaScript -->
    <script src="/components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">

      $(function(){
       $('#pulsar').click(function(){

         var options = {
      		lines: {
      			show: true
      		},
      		points: {
      			show: true
      		},
      		xaxis: {
      			mode: "categories",
      			tickSize: 0
      		}
      	};

        var data = [];
        $.plot($("#activity-area-chart"), data, options);
        //  $.plot($("#activityGraphic"), data, options);

        // Fetch one series, adding to what we already have
        var alreadyFetched = {};

        var dataurl = "/activity/<%= patient.activityDataQueue[0] %>";
        // Función que recarga el gráfico.
        function onDataReceived(series) {
          console.log("function onDataReceived");
          if (!alreadyFetched[series.label]) {
            alreadyFetched[series.label] = true;
            console.log("almacenando las series en data");
            data.push(series);
            console.log(JSON.stringify(data[0]));
          }
          $.plot($("#activity-area-chart"), data, options);
        } // onDataReceived()

         var parameters = { search: "<%= patient.activityDataQueue[0] %>"};
         $.get( '/activity',parameters, function(series) {
           console.log("Datos obtenidos, llamando a onDataReceived");
           onDataReceived(series);
         }); // $.get

       });


      });

    </script>
  </body>
</html>
