<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
    <div id="wrapper">
      <% include ../../partials/nav %>
      <!-- Page Content -->
      <div id="page-wrapper">
              <div class="row">
                  <div class="col-lg-12">
                      <h1 class="page-header"> <%= title %> </h1>
                  </div>
                  <!-- /.col-lg-12 -->
              </div>
              <!-- /.row -->
              <% include ../../partials/patient/patientInfo %>
              <% include ../../partials/patient/quizesPanel %>
              <% include ../../partials/patient/heartRate %>
              <% include ../../partials/patient/activity %>

      </div>
      <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <% include ../../partials/scripts_footer %>

    <!-- Flotcharts -->
    <script language="javascript" type="text/javascript" src="/js/flot/jquery.flot.js"></script>

    <!-- DataTables JavaScript -->
    <script src="/components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">

      $(function(){
       $('#pulsar').click(function(){
        //  var parameters = { search: "<%= patient.activityDataQueue[0] %>"};
        //  $.get( '/activity',parameters, function(data) {
        //    $('#activityGraphic').html(data.steps);
        //  });

         var options = {
      		lines: {
      			show: true
      		},
      		points: {
      			show: true
      		},
      		xaxis: {
      			tickDecimals: 0,
      			tickSize: 1
      		}
      	};

        var data = [];
        $.plot("#activityGraphic", data, options);
        //  $.plot($("#activityGraphic"), data, options);

        // Fetch one series, adding to what we already have
        var alreadyFetched = {};

        var dataurl = "/activity/<%= patient.activityDataQueue[0] %>";
        // Función que recarga el gráfico.
        function onDataReceived(series) {
          if (!alreadyFetched[series.label]) {
            alreadyFetched[series.label] = true;
            data.push(series);
          }
          $.plot("#placeholder", data, options);
        }

        // Petición ajax
        $.ajax({
				  url: dataurl,
				  type: "GET",
				  dataType: "json",
				  success: onDataReceived
			  });

       });


      });

    </script>
  </body>
</html>
