<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
    <div id="wrapper">
      <% include ../../partials/nav %>
      <!-- Page Content -->
      <div id="page-wrapper">
              <div class="row">
                  <div class="col-lg-12">
                      <h1 class="page-header"> <%= title %> </h1>
                  </div>
                  <!-- /.col-lg-12 -->
              </div>
              <!-- /.row -->
              <% include ../../partials/patient/patientInfo %>
              <% include ../../partials/patient/quizesPanel %>
              <% include ../../partials/patient/heartRate %>
              <% include ../../partials/patient/activity %>

      </div>
      <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <% include ../../partials/scripts_footer %>

    <!-- Flotcharts -->
    <script language="javascript" type="text/javascript" src="/js/flot/jquery.flot.js"></script>

    <!-- DataTables JavaScript -->
    <script src="/components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">

      $(function(){
       $('#pulsar').click(function(){
        //  var parameters = { search: "<%= patient.activityDataQueue[0] %>"};
        //  $.get( '/activity',parameters, function(data) {
        //    $('#activityGraphic').html(data.steps);
        //  });

        //  $.plot($("#activityGraphic"), data, options);
         $.plot($("#activityGraphic"), [ [[0, 0], [1, 1]] ], { yaxis: { max: 1 } });
       });


      });

    </script>
  </body>
</html>
