<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head %>
    <!-- custom css -->
    <link rel="stylesheet" href="/css/patient_show.css">

    <!-- jquery-ui for calendars -->
    <link rel="stylesheet" href="/components/jquery-ui/themes/smoothness/jquery-ui.min.css">
  </head>
  <body>
    <div id="wrapper">
      <% include ../../partials/nav %>
      <!-- Page Content -->
      <div id="page-wrapper">
              <div class="row">
                  <div class="col-lg-12">
                      <h1 class="page-header"> <%= title %> </h1>
                  </div>
                  <!-- /.col-lg-12 -->
              </div>
              <!-- /.row -->
              <% include ../../partials/patient/patientInfo %>
              <% include ../../partials/patient/quizesPanel %>
              <% include ../../partials/patient/heartRate %>
              <% include ../../partials/patient/activity %>

      </div>
      <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <% include ../../partials/scripts_footer %>

    <!-- Flotcharts -->
    <script language="javascript" type="text/javascript" src="/js/flot/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="/js/flot/jquery.flot.categories.js"></script>

    <!-- jquery-ui -->
    <script src="/components/jquery-ui/jquery-ui.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="/components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
    <script src="/js/patient_show.js" charset="utf-8"></script>
  </body>
</html>
