
#activity-area-chart, #heartbeat-area-chart{
  width: inherit;;
  height: 300px;
}

#activity-data, #heartbeat-data{
  width: inherit;
  height: 300px;
}

#patientId, #patientId2{
  display: none;
}
