<div class="row">
  <div class="col-lg-8">
    <% if (quizes) { %>
      <div class="list-group">
        <% for(var i = 0; i < quizes.length; i++){ %>
          <a href="/quiz/<%= quizes[i]._id %>" class="list-group-item">
              <span class="glyphicon glyphicon-pencil"></span> <%- quizes[i].quizName %> <span class="badge">Preguntas: <%- quizes[i].nQuestions %></span>
          </a>
          <% } %>
      </div>
    <% } else { %>
      <div class="alert alert-info" role="alert"> No se encuentran resultados </div>
    <% } %>
  </div>
</div>
