<div class="row">
  <div class="col-lg-8">

  <input type="file" name="quizJsonFile" id="quizJsonFile" class="file-loading">

    <!-- <div class="well">
      <form action="/quiz/upload" enctype="multipart/form-data" method="post">
        <input type="file" name="quizJsonFile"/>
        <button type="submit" class="btn btn-primary">Subir test</button>
      </form>
    </div> -->
  </div>
  <!-- /.col-lg-8 -->
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-8">
    <% include ../errorValidate %>

    <% if (message) { %>
      <div class="alert alert-info" role="alert"> <%- message %> </div>
    <% } %>
  </div>
</div>
