<form action="/quiz/upload" enctype="multipart/form-data" method="post">
  <input type="file" name="quizJsonFile"/>
  <button type="submit" class="btn btn-primary">Subir test</button>
</form>

<% include ../errorValidate %>

<% if (message) { %>
  <div class="alert alert-info" role="alert"> <%- message %> </div>
<% } %>
