<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/css/custom_index.css">
  </head>
  <body>
    <div id="wrapper">

      <% include ../partials/nav %>

    </div>
    <!-- /#wrapper -->

    <% include ../partials/scripts_footer %>

  </body>
</html>
